@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*font families*/
.serif {
  font-family: serif;
}

.small-size {
  font-size: 14px;
}

.links {
  color: blue;
}

h1.bigText {
  font-size: 52px;
  font-weight: 900;
  margin: 5px 0 10px 0;
  color: #404040;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 10px 0;
  color: #404040;
}

ul {
  list-style-type: disc !important;
  /* Change bullet type */
}

ul {
  @apply list-disc list-inside;
}

li>p {
  @apply inline;
  /* Remove bottom margin */
}

@media screen and (max-width: 749px) {
  h1.bigText {
    font-size: 40px;
  }
}

/*product details*/
.color-select img {
  width: 30px;
  height: 30px;
  display: block;
}

.div1,
.div2 {
  overflow-y: auto;
}

.div1::-webkit-scrollbar,
.div2::-webkit-scrollbar {
  display: none;
}

/*Size Chart Page*/
.size-guide__table,
.size-guide__half-table {
  border: 1px solid;
}

#sizing tbody tr {
  border: 0;
}

#sizing tbody tr:last-child td {
  border-bottom: none;
}

#sizing thead tr th {
  padding: 20px;
  background-color: var(--footer-background-primary-color);
  border-bottom: 1px solid;
}

#sizing tbody tr td {
  padding: 20px;
}

/* Checkout Page styles */
.shop-pay {
  background-color: #390ced;
  border: 1px solid #0000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}
.paypal {
  padding: 13px 15px;
  background-color: #ffc439;
  border-radius: 5px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpay {
  padding: 10px 15px;
  background-color: #000;
  border-radius: 5px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkout svg {
  width: 100px;
}
.or-divider {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or-divider:before,
.or-divider:after {
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}

.or-divider:before {
  margin-right: 10px;
}

.or-divider:after {
  margin-left: 10px;
}

.or-text {
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  position: relative;
  top: -5px;
}
.checkoutSide {
  background-color: var(--footer-background-primary-color);
  position: fixed;
  right: 0;
  height: 100vh;
}
#product-details-accordion .accordion-button:not(.collapsed) {
  border: none;
  background-color: #fff;
}
#checkout a {
  font-size: 12px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  overflow-y: scroll;
}

::selection {
  background: #f69420;
  color: white;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}